<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= question.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= question.user_id %>
  </p>

  <p>
    <strong>Tag:</strong>
    <%= question.tag_id %>
  </p>

</div>
