<div id="<%= dom_id upvote %>">
  <p>
    <strong>Question:</strong>
    <%= upvote.question_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= upvote.users_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= upvote.answer_id %>
  </p>

  <p>
    <strong>Upvote count:</strong>
    <%= upvote.upvote_count %>
  </p>

</div>
