<p style="color: green"><%= notice %></p>

<%= render @upvote %>

<div>
  <%= link_to "Edit this upvote", edit_upvote_path(@upvote) %> |
  <%= link_to "Back to upvotes", upvotes_path %>

  <%= button_to "Destroy this upvote", @upvote, method: :delete %>
</div>
