<div id="<%= dom_id downvote %>">
  <p>
    <strong>Question:</strong>
    <%= downvote.question_id %>
  </p>

  <p>
    <strong>Users:</strong>
    <%= downvote.users_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= downvote.answer_id %>
  </p>

  <p>
    <strong>Downvote count:</strong>
    <%= downvote.downvote_count %>
  </p>

</div>
