<p style="color: green"><%= notice %></p>

<%= render @downvote %>

<div>
  <%= link_to "Edit this downvote", edit_downvote_path(@downvote) %> |
  <%= link_to "Back to downvotes", downvotes_path %>

  <%= button_to "Destroy this downvote", @downvote, method: :delete %>
</div>
