<%= form_with(model: notification) do |form| %>
  <% if notification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
        <% notification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :notification_type, style: "display: block" %>
    <%= form.text_field :notification_type %>
  </div>

  <div>
    <%= form.label :target_id, style: "display: block" %>
    <%= form.number_field :target_id %>
  </div>

  <div>
    <%= form.label :is_read, style: "display: block" %>
    <%= form.check_box :is_read %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
