<div id="<%= dom_id notification %>">
  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

  <p>
    <strong>Notification type:</strong>
    <%= notification.notification_type %>
  </p>

  <p>
    <strong>Target:</strong>
    <%= notification.target_id %>
  </p>

  <p>
    <strong>Is read:</strong>
    <%= notification.is_read %>
  </p>

</div>
