<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

  <p>
    <strong>Social media:</strong>
    <%= user.social_media_id %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.profile_picture %>
  </p>

  <p>
    <strong>Social media provider:</strong>
    <%= user.social_media_provider %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <p>
    <strong>Is moderator:</strong>
    <%= user.is_moderator %>
  </p>

</div>
