<div id="<%= dom_id answer %>">
  <p>
    <strong>Body:</strong>
    <%= answer.body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= answer.user_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= answer.question_id %>
  </p>

  <p>
    <strong>Upvotes:</strong>
    <%= answer.upvotes %>
  </p>

  <p>
    <strong>Downvotes:</strong>
    <%= answer.downvotes %>
  </p>

</div>
