<%= form_with(model: reported_content) do |form| %>
  <% if reported_content.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reported_content.errors.count, "error") %> prohibited this reported_content from being saved:</h2>

      <ul>
        <% reported_content.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :content_type, style: "display: block" %>
    <%= form.number_field :content_type %>
  </div>

  <div>
    <%= form.label :content_id, style: "display: block" %>
    <%= form.number_field :content_id %>
  </div>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.number_field :reason %>
  </div>

  <div>
    <%= form.label :is_handled, style: "display: block" %>
    <%= form.check_box :is_handled %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
