<div id="<%= dom_id reported_content %>">
  <p>
    <strong>User:</strong>
    <%= reported_content.user_id %>
  </p>

  <p>
    <strong>Content type:</strong>
    <%= reported_content.content_type %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= reported_content.content_id %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= reported_content.reason %>
  </p>

  <p>
    <strong>Is handled:</strong>
    <%= reported_content.is_handled %>
  </p>

</div>
