<p style="color: green"><%= notice %></p>

<%= render @reported_content %>

<div>
  <%= link_to "Edit this reported content", edit_reported_content_path(@reported_content) %> |
  <%= link_to "Back to reported contents", reported_contents_path %>

  <%= button_to "Destroy this reported content", @reported_content, method: :delete %>
</div>
