<%= form_with(model: vote) do |form| %>
  <% if vote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
        <% vote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :answer_id, style: "display: block" %>
    <%= form.number_field :answer_id %>
  </div>

  <div>
    <%= form.label :question_id, style: "display: block" %>
    <%= form.number_field :question_id %>
  </div>

  <div>
    <%= form.label :vote_type, style: "display: block" %>
    <%= form.check_box :vote_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
