<div id="<%= dom_id vote %>">
  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= vote.answer_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= vote.question_id %>
  </p>

  <p>
    <strong>Vote type:</strong>
    <%= vote.vote_type %>
  </p>

</div>
